* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: #000111bd;
  margin: 0;
  height: 100vh;
}
.navbar {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  top: 0;
  left: 0;
  color: #ffffff;
  justify-content: space-between;
}
.nav-link,
.navbar-brand {
  color: #ffffff;
}
.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-nav {
  display: flex;
  margin-left: 15%;
  justify-content: space-between;
  width: 70%;
}

main {
  margin-top: 6em;
  min-height: 90vh;
  display: grid;
  place-items: center;
}

.app {
  background-color: #ffffff ;
  min-height: 450px;
  width: 50%;
  border: 5px solid #e61d1d;
  border-radius: 10px;
  padding: 15px;
}
img {
  max-width: 20em;
  max-height: 20em;
  margin: auto;
}
#addNew {
  background-color: #abceab;
  display: flex;
  padding: 8px;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

.fa-plus {
  background-color: #9e5858;
  padding: 3px;
  border-radius: 5px;
}

#zapatos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  margin: 1em auto;
}

#zapatos div {
  border: 3px solid #e61d1d;
  background-color: #e61d1d93;
  border-radius: 6px;
  padding: 5px;
  display: grid;
  gap: 4px;
}

#zapatos div .options {
  justify-self: center;
  display: flex;
  gap: 20px;
}

#zapatos div .options i {
  cursor: pointer;
}
